*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-rep.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
}

a.stateBtn{
    display: block;
    width: 100%;
    height: 100px;
    background-image: url("../images/open.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    margin-top: 50px;
}
a.stateBtn.reset{
    background-image: url("../images/reset.png");
}